body{
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: 100;
    text-align: center;
    color:blueviolet;
}

h2 {
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

h3 {
    font-style:oblique;
    text-align: justify;
    font-size: 14px;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
}
